@import url('https://fonts.googleapis.com/css?family=Nunito'); 

* {
  box-sizing: border-box;
}

:root {
    --font-family: "Nunito";
    --color-white: #FFFFFE;
    --color-black: #16161A;
    --color-primary: #7F5AF0;
    --color-secundary: #A786DF;
    --color-tertiary: #72757E;
    --color-green: #2CB67D;
    --color-gray: #94A1B2;
    --color-purple: #6B47DC;
    --color-neutral: #232E35;
    --color-red: #EF4565;
}

footer{
  /* Auto Layout */

display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;

position: fixed;
width: 100%;
height: 69px;
left: 0px;
bottom: 0px;
padding: 5%;
padding-top: 8%;
/* Neutral */


background: var(--color-neutral);

/* Inside Auto Layout */

flex: none;
align-self: stretch;
}

