body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);  
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.ttl-main{
    text-align: center;
    width: 100%;
    height: 50px;
    left: 16px;
    top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0.0015em;
}
.cursos{
    margin: 5px;
    padding: 5px;
}

.curso-inicial{
    
}

footer{
    /* Auto Layout */
  
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 15px;
  padding-top: 15px;
  /* Neutral */
  
  
  background: var(--color-neutral);
  

  }
  
  