body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);  
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.ttl-main{
    text-align: center;
    width: 100%;
    height: 50px;
    left: 16px;
    top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0.0015em;
}
.curso{
    margin: 5px;
    padding: 5px;
}



.menu{
    /* Auto Layout */
  display:flex;
  flex-direction: row; 
  justify-content:space-between;
  width: 100%;
  height: 70px;
  bottom: 0px;
  padding: 15px;
  padding-top: 15px;
  position: fixed;
  /* Neutral */
  
  background: var(--color-neutral);
  
  }
  .curso-inicial{
    display:flexbox ;
    align-items: center;       
  }
  .cursos-secundarios{
      
      width: 300px;
  }
  .cursos{
    display: flex;
    flex-direction: column;
    align-items: center;     
  }